$accent: #F57500;
$fontsize: 16px;
$textcolor: #333;
$dark: #303030;
$deep: #252525;
$lineheight: 1.7;
$size: 70px;
$border-opacity: .1;





%oswald-700 {
    font-family: 'oswaldbold-webfont', sans-serif;
    font-weight: 700;
}

%oswald-500 {
    font-family: 'oswaldmedium-webfont', sans-serif;
    font-weight: 500;
}

%raleway-800 {
    font-family: 'ralewayextrabold-webfont', sans-serif;
    font-weight: 800;
}

%raleway-500 {
    font-family: 'ralewaymedium-webfont', sans-serif;
    font-weight: 500;
}

%raleway-400 {
    font-family: 'ralewayregular-webfont', sans-serif;
    font-weight: 400;
}

%raleway-600 {
    font-family: 'ralewaysemibold-webfont', sans-serif;
    font-weight: 600;
}

%roboto-500 {
    font-family: 'robotomedium-webfont', sans-serif;
    font-weight: 500;
}